@import 'global';
@import 'popform';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&display=swap');



        .search{
            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;

     

            background-color: $borderColor;

            border-bottom-right-radius: 10px;    
            border-bottom-left-radius: 10px;  

          


            &__input{
                input{
                    background-color:  white;
                    border: 1px solid $borderColor;

                    min-height: $mobile_buttonHeight;
                    min-width: $mobile_buttonWidth + 40vw;

                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border: 1px solid white;
                    
                }

         
               
            }
            &__button{
                button{
                    background-color: $borderColor;
                    color: white;
                    border: 1px solid white;
                    
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;


                    min-height: $mobile_buttonHeight;
                    min-width: $mobile_buttonWidth;
                }
            }

            h2{
                color: white;
                font-family: 'Poppins', sans-serif;
                font-size: 2rem
                
                
            }
        }

        .search_container{
            @extend .search;
            flex-direction: column;
            min-height: 35vh;
           

            .h2{
                margin: 0%;
                
            }
        }
    


    //medium screen 

    @media screen and (min-width:992px) {
                    
        .search{
            display: flex;
            flex-direction: column;
            min-width: $mobile_buttonWidth;

            &__input{
                input{
                    background-color:  white;
                    border: 1px solid $borderColor;

                    min-height: $mobile_buttonHeight;
                    min-width: $mobile_buttonWidth ;

                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border: 1px solid white;
                    
                }

         
               
            }
            &__button{
                button{
                    background-color: $borderColor;
                    color: white;
                    border: 1px solid white;
                    
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;


                    min-height: $mobile_buttonHeight;
                    min-width: $mobile_buttonWidth;

                }
            }



           
        };

        .search_container{
            @extend .search;
            flex-direction: column;
            min-height: 35vh;
           

            .h2{
                
                margin: 0%;
                font-family: 'Poppins', sans-serif;
               
                
             
            }
        }
    
    
}


